*{padding: 0px;margin: 0px;box-sizing: border-box;}
html,body,.container-fluid{width: 100%;height: 100%;}
.glyphicon {
	top: 0px;
}

.searchfilterBar {
	background: #f7f7f7;
}
 
.searchfilterBar>div {
	margin: 5px 0px;
}
.roadlist>div{
	margin-top:2px;
}
.roadlist>div:hover>div:first-child{
	background: #4c556b;
}
.roadlist>div:active>div:first-child{
	background: #000000;
}
.searchfilterBar>div:first-child ,.roadlist>div:first-child{
	margin-top: 5px;
}

.searchfilterBar>div:last-child,.roadlist>div:last-child  {
	margin-bottom: 5px;
}

.roadlist{ 
	height: 65%;
	height: calc( 100% - 132px);
	height: -webkit-calc( 100% - 132px);
	height: -moz-calc( 100% - 132px);
	background: #fbfbfb; 
	border-top:2px solid #e6e6e6;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.2);
}

.roadHoteme.selected,.roaddefault.selected{height: calc( 100% - 70px);overflow: hidden;}
.roadHoteme.showself,.roaddefault.showself{height: calc( 100% - 32px);}
.roaddefault>.btn,.roadHoteme>.btn{ 
	background: #3c404a; 
	line-height: 1em;
	letter-spacing: 0.2em;
    margin: 0px auto; 
    text-align: left;
    display: block;
    width: 100%;
}
.roadHoteme>.btn{ background:#3c404a; }
.roaddefault>.btn:before,.roadHoteme>.btn:before{
	content: "■";
	line-height: 0em;
	color: cornflowerblue;
	font-size: 1.3em;
	margin-right: 5px;
}
.roadHoteme>.btn:before{ color:#e62222;}
.roaddefault>.el-button,.roadHoteme>.el-button{color:#dcdcdc !important;font-weight:600;font-size:1em;}
.selected>.el-button{color:#e4e9f3 !important;font-weight:600;font-size:1em;}
.btn-group-vertical{
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-right:0px;
	width: 100%;
}
.btn-group-vertical>.el-button{
	width: 98%;
	text-align: left;
	text-overflow: ellipsis;    overflow: hidden;    white-space: nowrap;
	padding-right: 0px;
}
.el-button+.el-button{margin-left: 0px;}
.roadHoteme>.btn-group-vertical{
	display: inline-block;
}
.roaddefault>.btn-group-vertical,.roadHoteme>.btn-group-vertical{height:0;display: none;}
.selected>.btn-group-vertical{height: calc( 100% - 36px);overflow-y: auto;display: block;}

.btn-group-vertical>.glyphicon:before{margin-right: 5px;line-height: 0;}
.btn-group-vertical>.el-button:first-child{margin-top: 5px;}
.btn-group-vertical>.el-button:last-child{margin-bottom: 5px;}
.btn-group-vertical>.glyphicon{line-height:1em;}
.btn-group-vertical>.el-icon-view{color:#767676;}
.btn-group-vertical>.el-icon-view:before {color: #bfbfbf;}
.btn-group-vertical>.glyphicon-eye-open {color:#333;font-weight: 600;}
.btn-group-vertical>.glyphicon-eye-open:before{color: dodgerblue;font-weight:1000;}

.input-group-btn>.dropdown-menu-right{
	width: 210px;
}
