html body {width:100%; height:100%; margin:0px; padding:0px;background: #ebebeb;}
		*{margin:0px; padding:0px;font-size:12px;font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;;}
		.bkgd_tabPagetag{width:99%;position:absolute;left:0.5%;top:37px;padding: 0px;}   
		.table_container{height:60%; height: calc(100% - 61px);  height: -moz-calc(100% - 61px);  height: -webkit-calc(100% - 61px);}
		.table_container table.tablesorter{ }
		.table_container table thead tr{line-height: 35px;    height: 35px;}}
		.table_container table.tablesorter tr{line-height:28px;    height: 28px; }
		.table_container table.tablesorter tbody tr,.table_container table.tablesorter tbody tr td{height: 28px;max-height: 28px;}
		.table_container table.tablesorter tbody tr td,.table_container table.tablesorter thead tr th{border-left:none;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:none;
		text-overflow: ellipsis;    overflow: hidden;    white-space: nowrap;    max-width: 152px;}
		.table_container table.tablesorter tbody tr td:first-child,.table_container table.tablesorter thead tr th:first-child{border-left:1px solid #e6e6e6;}
		.table_container table.tablesorter thead tr{background:#dddddd url(../img/dd.jpg) 15px 0px;}
		.table_container table.tablesorter tbody tr:nth-child(odd){ background:#ffffff;}
		.table_container table.tablesorter tbody tr:nth-child(even){ background:#fbfbfb;}
		
		.table_container table.tablesorter tr th,.table_container table.tablesorter tr td{height: 100%;}
		.tabPageBar{width:100%;height:34px;position:relative;top:0px;left:0px;}   
		.inlinebox_toLeft{position: relative;float: left;display: inline-block;}
		.tabPageBar ul,.tabPageBar>.btngroup{background:url("../img/tabtagGroupbackground.png") center left;cursor:default;overflow:hidden;position:relative;float:left; margin:0px; padding:0px;display: inline-block;width:90%;width:calc( 100% - 50px );width:-webkit-calc( 100% - 50px );width:-moz-calc( 100% - 50px );height:34px; }	 
		.tabPageBar ul li{display: inline-block;cursor:default;width: auto;height:34px;line-height:34px;padding-left:10px;padding-right:10px; position:relative;float:left;line-height:40px;}  
 		
 		.dowebok{line-height: 30px;position: relative; width:90%;width:calc( 100% - 85px );width:-webkit-calc( 100% - 85px );width:-moz-calc( 100% - 85px );}
 		.con_box label {position: relative;float: left;display: inline-block;line-height:30px; padding: 0px 10px;margin: 0px 0px 0px 50px; outline-offset: 0px;}
		.con_box ul { list-style-type: none;display:inline-block; padding-top:5px;}
		.con_box li { display: inline-block; }
		.con_box li { margin:2px;}
		.con_box input.labelauty + label { font: 12px "Microsoft Yahei"; padding-top: 5px;padding-bottom: 5px;color: #999999; }
		.con_box input[type="text"],.con_box select,.con_box select option{width: 130px;height: 32px;line-height: 40px;margin: 0;border: 1px solid #cccccc;border-radius:5px;}
		form{position:relative;display:block;width: 100%; min-height:40px;height:100%;padding:0px; vertical-align: middle;clear:both}
		.con_box form select{margin: 5px 5px 0px;}
		
		.tabPageBar .choiceBtn{ padding:0px !important;}
		.choiceBtnLcstyle{background:url("../img/tabtagbackground.png") top left ;position:relative;float:left;display: inline-block;width:10px;height:34px;}   
		.choiceBtnCcstyle{background:url("../img/tabtagbackground.png") left center;position:relative;float:left;display: inline-block;width:auto;height:34px;padding-left:0px;padding-right:0px;}
		.choiceBtnRcstyle{background:url("../img/tabtagbackground.png") bottom right;position:relative;float:left;display: inline-block;width:10px;height:34px;}
		
		.leftbtn_tabBar{background:url("../img/tabtagGroupbackground.png") top left ; position:relative;float:left;display: inline-block;width:25px;height:34px;}     
		.leftbtn_tabBar i{background:url("../img/tabtagTrubO.png") top left ;margin-top:3px; display: inline-block;width:20px;height:28px;}     
		.leftbtn_tabBar i:HOVER{background:url("../img/tabtagTrubN.png") top left ;margin-top:3px; display: inline-block;width:20px;height:28px;}     
		.leftbtn_tabBar i:ACTIVE{background:url("../img/tabtagTrubO.png") top left ;margin-top:3px; display: inline-block;width:20px;height:28px;}     
		.rightbtn_tabBar{background:url("../img/tabtagGroupbackground.png") bottom left;position:relative;float:left; display: inline-block;width:25px;height:34px;}  
		.rightbtn_tabBar i{background:url("../img/tabtagTrubO.png") bottom left;margin-top:3px; display: inline-block;width:20px;height:28px;}    
		.rightbtn_tabBar i:HOVER{background:url("../img/tabtagTrubN.png") bottom left ;margin-top:3px; display: inline-block;width:20px;height:28px;}    
		.rightbtn_tabBar i:ACTIVE{background:url("../img/tabtagTrubO.png") bottom left ;margin-top:3px; display: inline-block;width:20px;height:28px;}   
		.displayNone{display: none !important;}
		.gapline{width:98%;height:0px;margin:0px auto;display: block;background-color: #EFEFEF;border: 1px #CCCCCC solid;border-bottom-color:#efefef;border-top-style:double;align: center;}
		
		.bkgd_tabPCons{width:94%;width:calc( 100% - 2px );width:-webkit-calc( 100% - 2px );width:-moz-calc( 100% - 2px ); height:90%;height:calc( 100% - 36px );height:-webkit-calc( 100% - 36px );height:-moz-calc( 100% - 36px ); position:relative;top:0px;left:0px;border:1px solid #cccccc; background:#ffffff;border-top-width:0px; border-radius:0 0 5px 5px;}
		.con_box{display:none; width:100%; height:100%; }        
		.choicebox{display: block;padding: 5px;   width:100%;width:calc( 100% - 0px );width:-webkit-calc( 100% - 0px );width:-moz-calc( 100% - 0px ); height:90%;height:calc( 100% - 28px);height:-webkit-calc( 100% - 28px);height:-moz-calc( 100% - 28px);overflow:hidden;overflow-y:scroll;}	 
		  select{ }
		 option::-ms-expand{ display: none; }
		select option{
		    -moz-appearance:none;  
		    -webkit-appearance:none;  
		    appearance:none;
		    width:100%;height:30px;line-height: 30px;
		    display:block;padding:5px;margin: 5px;
    		cursor: pointer;
		} 
		select option:hover{
		    color:#fff;
		    background-color:#1E90FF;
		} 
		select option:checked{
		    background:#abC7CF;
		    color:#fff; 
		}
		
		
		#Pagination a{
		padding-left:10px;
		padding-rigth:10px;
	}
	.sslsdf_box{padding-top:7px;}
	.listforms{position: absolute;}
	.tbottom{width:96%;}
	.tbottom>#Pagination{text-align: center;}
	.table.tablesorter{margin:0;}
	#seachyears form div input{background: #ceffe4;    border: none;    font-weight: 600;    cursor: default;   min-width: 100px; width: 100px;    text-align: center;}
	#seachyears form div span{position: relative;    font-weight:600;    display: inline-block;    line-height: 30px;    padding: 0px 10px;    margin: 0px;    outline-offset: 0px;}
	#seachyears form{display: flex;    justify-content: space-evenly;    justify-items: center;    margin-bottom: 10px;}
	.biaot{border-top-right-radius: 10px;    border-right: 1px solid #ccc;}