<!DOCTYPE html>
 
<html>

<head>

<title>Confirm Before Leave</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript">
	console.log(document)
var hidden, visibilityChange; 
    if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support 
      hidden = "hidden";
      visibilityChange = "visibilitychange";
    } else if (typeof document.msHidden !== "undefined") {
      hidden = "msHidden";
      visibilityChange = "msvisibilitychange";
    } else if (typeof document.webkitHidden !== "undefined") {
      hidden = "webkitHidden";
      visibilityChange = "webkitvisibilitychange";
    }
    
    
    
 document.addEventListener(visibilityChange, handleVisibilityChange, true);

window.onunload = onunload_handler;

function handleVisibilityChange() {
      if (document[hidden]) {
        alert("guanbi?")
      } else {
        alert("no?")
      }
      var warning1="确认退出1111?";
	return warning1;
    }
window.onbeforeunload = onbeforeunload_handler;
function onbeforeunload_handler(ev){  
	var event = ev || window.event; 
     event.returnValue = "Are you sure you want to close this window?"
                       + "All of your work will be lost if you close";
}

 
function onunload_handler()
{ 
	var warning="谢谢光临"; 
	alert(warning); 
}

 function closewindow(){
 	console.log(window)
 }
 
// function beforeunload(ev) {
//   var event = ev || window.event;
//   console.log(event)
//   event.returnValue = "Are you sure you want to close this window? "
//                     + "All of your work will be lost if you close";
//}
 
</script>
<style type="text/css">
	.el-button{display: block;width: 120px;height: 36px;border-radius: 5px;border: 1px solid #DCDCDC;text-align: center;line-height: 32px;}
</style>
 
</head>

<!--<body onbeforeunload="beforeunload(event);">-->
<body>
<div class="el-button"  onclick="closewindow()">
	按钮
</div>
<a href="http://www.baidu.com">baidu</a>

</body>

</html> 