<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>滚轮数字演示效果</title> 
		<style type="text/css">
			html,body{width: 100%;height: 100%;}
			*{box-sizing: border-box;margin: 0px; padding: 0px;}
		</style>
		<link rel="stylesheet" href="css/moduleNumRound.css" />
		<!--<script type="text/javascript" src="js/moduleNum.js" ></script>-->
		<script type="text/javascript">
			document.onreadystatechange= function(){
				moduleNum.initNumSty("#fgt"); 
				moduleNum.initNumSty("#fgt2"); 
				moduleNum.initNumSty("#fgt3"); 
				moduleNum.initNumSty("#fgt4"); 
				window.setInterval(startNumChange,6000)
			} ; 
			function startNumChange(){
				moduleNum.setNumCg("#fgt",Math.floor(Math.random()*100000) ); 
				moduleNum.setNumCg("#fgt2",Math.random()*10000); 
				moduleNum.setNumCg("#fgt3", Math.floor(Math.random()*100000)*0.001+"%" ); 
				moduleNum.setNumCg("#fgt4",Math.random()*1000000); 
			}
		</script>
	</head>
	<body style="background: #002335;  ">
		<div style="position:relative;width: 1px;height: 1px;top: 50%;margin-left: auto;margin-right: auto;">
			
				<div class="partNum">
					<div class="numbarCont floatL" onclick="moduleNum.showPop_window('01')">
						<div class="backg"  ><i class="roundA"></i></div>
						<div id="fgt" class="numBlueBackdiv"  data-val="000000000">
							 
						</div>
						<div class="numBarfixlayer"  > 
							<span class="titleN">总出车辆</span>
							<div class="iicon">
								<div class="iicoA"  ></div>
							</div>
						</div>
					</div>
					<div class="numbarCont floatL" onclick="moduleNum.showPop_window('02);">
						<div class="backg"><i class="roundB"></i></div>
						<div id="fgt2"  class="numBlueBackdiv" data-val="000000000">
							 
						</div>
						<div class="numBarfixlayer" > 
							<span class="titleN">总行驶里程</span>
							<div class="iicon">
								<div class="iicoB"></div>
							</div>
						</div>
					</div>
					<div class="numbarCont floatL" onclick="moduleNum.showPop_window('03);">
						<div class="backg"><i class="roundC"></i></div>
						<div id="fgt3"  class="numBlueBackdiv" data-val="000000000">
							 
						</div> 
						<div class="numBarfixlayer" > 
							<span class="titleN">总清运称重</span>
							<div class="iicon">
								<div class="iicoC" ></div>
							</div>
						</div>
					</div>
					<div class="numbarCont floatL" onclick="moduleNum.showPop_window('04);">
						<div class="backg"><i class="roundD"></i></div>
						<div id="fgt4"  class="numBlueBackdiv" data-val="000000000">
							 
						</div> 
						<div class="numBarfixlayer" > 
							<span class="titleN">总计工时</span>
							<div class="iicon">
								<div class="iicoD"  ></div>
							</div>
						</div>
					</div>
				</div>
				
		</div>
		<input type="text" name="textin" id="textin" placeholder="请输入数字改变第一行值"   onchange="moduleNum.cg('#fgt');"  style="position: absolute; bottom: 20px;left: 10px;"/>   
		 
	</body>
</html>
